{% extends 'account/account_base.html' %}
{% load static %}

{% block content %}
<body style="background-color: #999999;">
	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more"></div>
			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">


				<form action="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data" class="login100-form validate-form">
					{% csrf_token %}


					<span class="login100-form-title p-b-59">
						Update Profile
					</span>
					<!--
					<div class="wrap-input100 validate-input" >
						<span class="label-input100">First Name</span>
							{{form.first_name}}
						<span class="focus-input100"></span>
						</div>
						<div class="wrap-input100 validate-input" >
							<span class="label-input100">Last Name</span>
								{{form.last_name}}
							<span class="focus-input100"></span>
							</div>
						
						<div class="wrap-input100 validate-input" >
							<span class="label-input100">You could choose a profile picture</span>
							{{form.image}}
							<span class="focus-input100"></span>
						</div>

						-->
						<div class="wrap-input100 validate-input" >
							<span class="label-input100">First Name</span>
								{{user_form.first_name}}
							<span class="focus-input100"></span>
							</div>


							<div class="wrap-input100 validate-input" >
								<span class="label-input100">Last Name</span>
									{{user_form.last_name}}
								<span class="focus-input100"></span>
								</div>
				

					<div class="wrap-input100 validate-input" data-validate="Username is required">
						<span class="label-input100">Username</span>
						{{user_form.username}}
						<span class="focus-input100"></span>
					</div>
			
				


					<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
						<span class="label-input100">Email</span>
						{{user_form.email}}
						<span class="focus-input100"></span>
					</div>


					
					<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
						<span class="label-input100">Bio</span>
						{{profile_form.bio}}
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
						<span class="label-input100">Profile Image</span>
						{{profile_form.profile_image}}
						<span class="focus-input100"></span>
					</div>







					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button type="submit" class="login100-form-btn">
								Update Profile
							</button>
						</div>
						<div class="alert alert-light" role="alert">
							{% if messages %}
							<ul class="messages">
								{% for message in messages %}
								<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
									<p>{{ message }}</p>
									</li>
									{% endfor %}
							</ul>
							{% endif %}
						</div>
					</div>


				</form>
			</div>
		</div>
	</div>

	{% endblock %}