{% extends 'account/account_base.html' %}
{% load static %}

{% block content %}
<body style="background-color: #999999;">
  <div class="limiter">
    <div class="container-login100">
      <div class="login100-more"></div>
      <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
        <form method="POST" action="{% url 'login' %}" class="login100-form validate-form">
          {% csrf_token %}
          <span class="login100-form-title p-b-59">
            Login
          </span>
                <input name="s">
          <div class="wrap-input100 validate-input" data-validate="Username is required">
            <span class="label-input100">Username</span>
               {{form.username}}
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Password is required">
            <span class="label-input100">Password</span>
             {{form.password}}
              
            <span class="focus-input100"></span>

            </div>


          {% if request.GET.next %}
            <input type="hidden" name="next" value="{{request.GET.next}}">
          {% endif %}
         
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button type="submit" class="login100-form-btn">
                Login
              </button>
            </div>
              <a class="label-input100"  href="{% url 'register' %}" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                Signup
              </a>
              <br>
              <a  class="label-input100"  href="{% url 'reset_password' %}" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                Forgot Password?
              </a>
           
            
           
            <div class="alert alert-light" role="alert">
              {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}><p>{{ message }}</p></li>
              {% endfor %}
          </ul>
          {% endif %}
            </div>
          </div>
         
        </form>

        
   
      </div>
    </div>

    <p>Do you know Chick Corea?</p>



  </div>

  {% endblock %}